body {
    background-color: #f8f9fa;
}
h1 {
    color: #343a40;
    font-weight: 700;
}
.table thead th {
    background-color: #343a40;
    color: white;
    border-bottom: 2px solid #dee2e6;
}
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}
.pagination .page-link {
    color: #343a40;
}
.pagination .page-link:hover {
    background-color: #343a40;
    color: white;
}
.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}

.table {
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
    width: 100%;
}
.table th, .table td {
    overflow: hidden; /* 내용이 길어지면 넘침을 숨김 */
    text-overflow: ellipsis; /* 넘침 부분을 '...'으로 표시 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

/* 차트를 가로로 나란히 배치하는 Flexbox 스타일 */
.chart-container {
    display: flex;
    justify-content: space-between;
}
.chart-box {
    width: 32%; /* 3개의 차트를 나란히 배치하기 위해 너비 설정 */
}