/* login-style.css */

.login-container {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.login-logo {
    /*background-image: url('path-to-your-logo.png'); !* 로고 이미지 경로 설정 *!*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
}

.login-container input[type="email"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.login-container input[type="email"]:focus{
    border-color: #007bff;
    outline: none;
}
.login-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #0056b3;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    list-style: none;
}
li {
    margin: 10px;
    color: darkgray;
    font-size: 17px;
}
a {
    text-decoration-line: none;
    color: darkgray;
}
a:hover{
    background-color: #f8f9fa;
}
